In [1]:
import json
import pandas as pd
import numpy as np

# Read Json

In [2]:
half = "H2"
### CHOOSE ONE
### "H1", "H2", None

In [3]:
with open("../matches/matches_England.json", "r") as file:
    match_data_2 = json.load(file)

df2 = pd.DataFrame(match_data_2)
if half == "H1":
    df2 = df2[df2.gameweek<20]
elif half == "H2":
    df2 = df2[df2.gameweek>=20]

with open("../matches/matches_France.json", "r") as file:
    match_data_3 = json.load(file)

df3 = pd.DataFrame(match_data_3)
if half == "H1":
    df3 = df3[df3.gameweek<20]
elif half == "H2":
    df3 = df3[df3.gameweek>=20]


with open("../matches/matches_Germany.json", "r") as file:
    match_data_4 = json.load(file)

df4 = pd.DataFrame(match_data_4)
if half == "H1":
    df4 = df4[df4.gameweek<18]
elif half == "H2":
    df4 = df4[df4.gameweek>=18]

with open("../matches/matches_Italy.json", "r") as file:
    match_data_5 = json.load(file)

df5 = pd.DataFrame(match_data_5)
if half == "H1":
    df5 = df5[df5.gameweek<20]
elif half == "H2":
    df5 = df5[df5.gameweek>=20]

with open("../matches/matches_Spain.json", "r") as file:
    match_data_6 = json.load(file)

df6 = pd.DataFrame(match_data_6)
if half == "H1":
    df6 = df6[df6.gameweek<20]
elif half == "H2":
    df6 = df6[df6.gameweek>=20]

all_matches_df = pd.concat([df2, df3, df4, df5, df6], ignore_index=True)
all_matches_list = list(np.unique(all_matches_df.wyId))

In [4]:
with open("../events/events_England.json", "r") as file:
    event_data_2 = json.load(file)

df2 = pd.DataFrame(event_data_2)
df2 = df2[df2.matchId.isin(all_matches_list)]

with open("../events/events_France.json", "r") as file:
    event_data_3 = json.load(file)

df3 = pd.DataFrame(event_data_3)
df3 = df3[df3.matchId.isin(all_matches_list)]


with open("../events/events_Germany.json", "r") as file:
    event_data_4 = json.load(file)

df4 = pd.DataFrame(event_data_4)
df4 = df4[df4.matchId.isin(all_matches_list)]


with open("../events/events_Italy.json", "r") as file:
    event_data_5 = json.load(file)

df5 = pd.DataFrame(event_data_5)
df5 = df5[df5.matchId.isin(all_matches_list)]


with open("../events/events_Spain.json", "r") as file:
    event_data_6 = json.load(file)

df6 = pd.DataFrame(event_data_6)
df6 = df6[df6.matchId.isin(all_matches_list)]

with open("../events/teams.json", "r") as file:
    teams_data = json.load(file)

teams_df = pd.DataFrame(teams_data)

In [5]:
all_events_df = pd.concat([df2, df3, df4, df5, df6], ignore_index=True)

In [6]:
passes_df = all_events_df[all_events_df['eventName'] == 'Pass']
in_possession_df = all_events_df[all_events_df['eventName'].isin(['Shot','Pass'])]

In [7]:
# Determine the previous team ID in the same match
passes_df['previous_teamId'] = passes_df.groupby('matchId')['teamId'].shift(1)

# Identify transitions where the team ID changes and it's within the same match
transitions = passes_df[(passes_df['teamId'] != passes_df['previous_teamId']) & (passes_df['previous_teamId'].notna())]

# Create a transitions DataFrame with required columns for merging
transitions['endSec'] = transitions['eventSec'] + 10
transition_times = transitions[['id', 'matchId', 'eventSec', 'endSec']]

<ipython-input-7-6110caba3bd7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passes_df['previous_teamId'] = passes_df.groupby('matchId')['teamId'].shift(1)
<ipython-input-7-6110caba3bd7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transitions['endSec'] = transitions['eventSec'] + 10

In [8]:
# Convert data types to more memory efficient types
transitions['matchId'] = transitions['matchId'].astype('int32')
transitions['eventSec'] = transitions['eventSec'].astype('float32')
transitions['endSec'] = transitions['endSec'].astype('float32')

# Check if converting teamId to a smaller integer type is possible
transitions['teamId'] = pd.to_numeric(transitions['teamId'], downcast='integer')

<ipython-input-8-5f7b6da8d4f6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transitions['matchId'] = transitions['matchId'].astype('int32')
<ipython-input-8-5f7b6da8d4f6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transitions['eventSec'] = transitions['eventSec'].astype('float32')
<ipython-input-8-5f7b6da8d4f6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transitions['endSec'] = transitions['endSec'].astype('float32')
<ipython-input-8-5f7b6da8d4f6>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transitions['teamId'] = pd.to_numeric(transitions['teamId'], downcast='integer')

In [9]:
passes_df['previous_teamId'] = passes_df.groupby('matchId')['teamId'].shift(1)
transitions = passes_df[(passes_df['teamId'] != passes_df['previous_teamId']) & (passes_df['previous_teamId'].notna())]

# Add a 10-second window for the transition end time
transitions['transition_end_time'] = transitions['eventSec'] + 10

# Prepare the minimal necessary data for merging
transitions_minimal = transitions[['id', 'matchId', 'eventSec', 'transition_end_time']]
in_possession_df_minimal = in_possession_df[['id', 'matchId', 'eventSec', 'teamId', "subEventName", "positions", "eventName", "playerId"]]

<ipython-input-9-f544830a946a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passes_df['previous_teamId'] = passes_df.groupby('matchId')['teamId'].shift(1)
<ipython-input-9-f544830a946a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transitions['transition_end_time'] = transitions['eventSec'] + 10

In [10]:
# Define a function to process chunks
def process_chunk(chunk):
    chunk_merged = chunk.merge(transitions_minimal, on='matchId', suffixes=('', '_trans'))
    return chunk_merged[(chunk_merged['eventSec'] >= chunk_merged['eventSec_trans']) & (chunk_merged['eventSec'] <= chunk_merged['transition_end_time'])]

# Process in chunks
chunk_size = 100000
result_frames = []
for start in range(0, in_possession_df_minimal.shape[0], chunk_size):
    chunk = in_possession_df_minimal.iloc[start:start + chunk_size]
    result_frames.append(process_chunk(chunk))

In [11]:
in_poss_merged_df = pd.concat(result_frames)
in_poss_merged_df = in_poss_merged_df.drop_duplicates(subset='id', keep='first')

In [12]:
in_poss_merged_df

,id,matchId,eventSec,teamId,subEventName,positions,eventName,playerId,id_trans,eventSec_trans,transition_end_time
272,238886804,2499738,4.405917,1619,High pass,"[{'y': 47, 'x': 32}, {'y': 18, 'x': 79}]",Pass,8136,238887830,2.287007,12.287007
372,238886834,2499738,9.896286,1633,Head pass,"[{'y': 68, 'x': 23}, {'y': 69, 'x': 35}]",Pass,37725,238886834,9.896286,19.896286
558,238886836,2499738,10.893120,1633,Head pass,"[{'y': 69, 'x': 35}, {'y': 67, 'x': 41}]",Pass,8677,238886834,9.896286,19.896286
744,238886838,2499738,11.644449,1633,Simple pass,"[{'y': 67, 'x': 41}, {'y': 70, 'x': 39}]",Pass,14703,238886834,9.896286,19.896286
930,238886840,2499738,12.573265,1633,Simple pass,"[{'y': 70, 'x': 39}, {'y': 69, 'x': 42}]",Pass,70965,238886834,9.896286,19.896286
...,...,...,...,...,...,...,...,...,...,...,...
731198,253302672,2565927,2813.117759,675,High pass,"[{'y': 27, 'x': 36}, {'y': 90, 'x': 33}]",Pass,14723,253302669,2808.463744,2818.463744
731352,253302675,2565927,2817.686043,675,Simple pass,"[{'y': 90, 'x': 33}, {'y': 94, 'x': 45}]",Pass,4501,253302669,2808.463744,2818.463744
732431,253302650,2565927,2874.769542,682,Simple pass,"[{'y': 16, 'x': 7}, {'y': 6, 'x': 27}]",Pass,3695,253302650,2874.769542,2884.769542
732585,253302651,2565927,2876.959208,682,Simple pass,"[{'y': 6, 'x': 27}, {'y': 4, 'x': 40}]",Pass,286994,253302650,2874.769542,2884.769542
733356,253302698,2565927,2943.089232,675,Simple pass,"[{'y': 74, 'x': 8}, {'y': 56, 'x': 9}]",Pass,40756,253302698,2943.089232,2953.089232

# Feature engineering - Pass DF - Pass Motifs

In [13]:
passes_df = in_poss_merged_df

# Concatenating teamId and matchId to create a unique identifier for each team in each match
passes_df['uniqueTeamId'] = passes_df['teamId'].astype(str) + "---" + passes_df['matchId'].astype(str)

In [14]:
# Function to classify pass motifs
def classify_pass_motif(passes):
    players = passes['playerId'].values
    if len(set(players)) == 2:  # ABAB
        return 'ABAB'
    elif len(set(players)) == 3:
        if players[0] == players[2] or players[1] == players[3]:  # ABCA or ABCB
            return 'ABCA' if players[0] == players[2] else 'ABCB'
        else:
            return 'ABCD'  # ABCD for distinct players or other scenarios
    return 'ABCD'

# Apply the classification within a rolling window
def apply_motif_classification(df):
    # Ensure the DataFrame is sorted by event time
    df = df.sort_values(by='eventSec')
    motifs = []
    # Using a rolling window of 4 events
    for i in range(len(df) - 3):
        window = df.iloc[i:i+4]
        motif = classify_pass_motif(window)
        motifs.append((window.iloc[-1]['uniqueTeamId'], motif))
    return pd.DataFrame(motifs, columns=['uniqueTeamId', 'Motif'])

In [15]:
motif_classification_results = passes_df.groupby('uniqueTeamId').apply(apply_motif_classification)

In [16]:
motif_classification_results.reset_index(drop=True, inplace=True)

In [17]:
motif_counts = motif_classification_results.groupby(['uniqueTeamId', 'Motif']).size().unstack(fill_value=0)

In [18]:
motif_ratios = motif_counts.div(motif_counts.sum(axis=1), axis=0)
# df to be used in clustering

In [19]:
motif_ratios

Motif                ABAB      ABCA      ABCB      ABCD
uniqueTeamId
10531---2499913  0.024390  0.114983  0.114983  0.745645
10531---2499927  0.043307  0.098425  0.106299  0.751969
10531---2499937  0.023923  0.086124  0.095694  0.794258
10531---2499945  0.048980  0.069388  0.069388  0.812245
10531---2499957  0.031088  0.046632  0.051813  0.870466
...                   ...       ...       ...       ...
756---2565880    0.050388  0.089147  0.089147  0.771318
756---2565892    0.052402  0.100437  0.104803  0.742358
756---2565904    0.032389  0.056680  0.052632  0.858300
756---2565908    0.049669  0.089404  0.096026  0.764901
756---2565923    0.027473  0.049451  0.049451  0.873626

[1826 rows x 4 columns]

In [20]:
motif_stats = motif_ratios.agg(['mean', 'std']).T

In [21]:
motif_stats

           mean       std
Motif
ABAB   0.035142  0.014125
ABCA   0.082167  0.016280
ABCB   0.082638  0.016073
ABCD   0.800053  0.035713

In [22]:
motif_ratios.to_csv('transition_motif_ratios_df.csv', index=True)

# Feature engineering - Shot DF

In [23]:
shot_df = in_poss_merged_df[in_poss_merged_df['eventName'] == 'Shot']
shot_df['uniqueTeamId'] = shot_df['teamId'].astype(str) + "---" + shot_df['matchId'].astype(str)

<ipython-input-23-850d7acc142f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shot_df['uniqueTeamId'] = shot_df['teamId'].astype(str) + "---" + shot_df['matchId'].astype(str)

In [24]:
import math

def calculate_shot_distance(row):
    if row['positions'] is not None and len(row['positions']) > 0:
        loc = row['positions'][0]
        # Normalize locations
        x = loc['x'] * (120 / 100.0)  # Normalizing the x coordinate
        y = loc['y'] * (80 / 100.0)   # Normalizing the y coordinate
        # Calculate Euclidean distance from (0,0)
        distance = math.sqrt((120-x)**2 + (80-y)**2)
        return distance
    return None

# Apply the function to calculate shot distance and add it to the DataFrame
shot_df['shot_distance'] = shot_df.apply(calculate_shot_distance, axis=1)

<ipython-input-24-103ed8455f10>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shot_df['shot_distance'] = shot_df.apply(calculate_shot_distance, axis=1)

In [25]:
def classify_shot_by_distance(distance):
    if distance <= 38:
        return "Near"
    elif distance <= 52:
        return "Middle Distance"
    else:
        return "Far"

# Assuming shot_df has a 'shot_distance' column calculated as before
shot_df['shot_class'] = shot_df['shot_distance'].apply(classify_shot_by_distance)

# Grouping shots by their class and counting
shot_class_counts = shot_df.groupby('uniqueTeamId')['shot_class'].value_counts().unstack(fill_value=0)
shot_counts = shot_df.groupby('uniqueTeamId')['subEventName'].value_counts().unstack(fill_value=0)

<ipython-input-25-0451b5045683>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shot_df['shot_class'] = shot_df['shot_distance'].apply(classify_shot_by_distance)

In [26]:
shot_df_final = pd.concat([shot_counts, shot_class_counts], axis=1)

In [27]:
shot_df_final

                 Shot  Far  Middle Distance  Near
uniqueTeamId
10531---2499913     2    0                2     0
10531---2499927     4    1                2     1
10531---2499937     3    1                0     2
10531---2499960     6    1                2     3
10531---2499986     4    1                2     1
...               ...  ...              ...   ...
756---2565880       6    0                3     3
756---2565892       4    2                2     0
756---2565904       5    0                4     1
756---2565908       5    2                2     1
756---2565923       8    3                3     2

[1780 rows x 4 columns]

In [28]:
shot_df_final.rename(columns = {'Shot':'Total Shots'}, inplace = True) 

shot_df_final["Far"] = shot_df_final["Far"]/shot_df_final["Total Shots"]
shot_df_final["Middle Distance"] = shot_df_final["Middle Distance"]/shot_df_final["Total Shots"]
shot_df_final["Near"] = shot_df_final["Near"]/shot_df_final["Total Shots"]


shot_df_final.rename(columns = {'Near':'Near Shots Ratio', 'Middle Distance':'Middle Distance Shots Ratio', 'Far':'Far Shots Ratio',}, inplace = True)

In [29]:
shot_df_final

,Total Shots,Far Shots Ratio,Middle Distance Shots Ratio,Near Shots Ratio
uniqueTeamId,,,,
10531---2499913,2,0.000000,1.000000,0.000000
10531---2499927,4,0.250000,0.500000,0.250000
10531---2499937,3,0.333333,0.000000,0.666667
10531---2499960,6,0.166667,0.333333,0.500000
10531---2499986,4,0.250000,0.500000,0.250000
...,...,...,...,...
756---2565880,6,0.000000,0.500000,0.500000
756---2565892,4,0.500000,0.500000,0.000000
756---2565904,5,0.000000,0.800000,0.200000
756---2565908,5,0.400000,0.400000,0.200000
756---2565923,8,0.375000,0.375000,0.250000

# Feature engineering - Pass DF - Pass Types

In [30]:
def determine_zone(position):
    if 'x' in position and 'y' in position:
        x, y = position['x'], position['y']
        zone = int(x / 33.333) + 1
        if zone == 4:
            zone = 3
        return zone
    else:
        return None
    
# Apply the function to determine zones for each event
passes_df['Zone'] = passes_df['positions'].apply(lambda pos: determine_zone(pos[0]) if len(pos) > 0 else None)

In [31]:
passes_df

,id,matchId,eventSec,teamId,subEventName,positions,eventName,playerId,id_trans,eventSec_trans,transition_end_time,uniqueTeamId,Zone
272,238886804,2499738,4.405917,1619,High pass,"[{'y': 47, 'x': 32}, {'y': 18, 'x': 79}]",Pass,8136,238887830,2.287007,12.287007,1619---2499738,1
372,238886834,2499738,9.896286,1633,Head pass,"[{'y': 68, 'x': 23}, {'y': 69, 'x': 35}]",Pass,37725,238886834,9.896286,19.896286,1633---2499738,1
558,238886836,2499738,10.893120,1633,Head pass,"[{'y': 69, 'x': 35}, {'y': 67, 'x': 41}]",Pass,8677,238886834,9.896286,19.896286,1633---2499738,2
744,238886838,2499738,11.644449,1633,Simple pass,"[{'y': 67, 'x': 41}, {'y': 70, 'x': 39}]",Pass,14703,238886834,9.896286,19.896286,1633---2499738,2
930,238886840,2499738,12.573265,1633,Simple pass,"[{'y': 70, 'x': 39}, {'y': 69, 'x': 42}]",Pass,70965,238886834,9.896286,19.896286,1633---2499738,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
731198,253302672,2565927,2813.117759,675,High pass,"[{'y': 27, 'x': 36}, {'y': 90, 'x': 33}]",Pass,14723,253302669,2808.463744,2818.463744,675---2565927,2
731352,253302675,2565927,2817.686043,675,Simple pass,"[{'y': 90, 'x': 33}, {'y': 94, 'x': 45}]",Pass,4501,253302669,2808.463744,2818.463744,675---2565927,1
732431,253302650,2565927,2874.769542,682,Simple pass,"[{'y': 16, 'x': 7}, {'y': 6, 'x': 27}]",Pass,3695,253302650,2874.769542,2884.769542,682---2565927,1
732585,253302651,2565927,2876.959208,682,Simple pass,"[{'y': 6, 'x': 27}, {'y': 4, 'x': 40}]",Pass,286994,253302650,2874.769542,2884.769542,682---2565927,1
733356,253302698,2565927,2943.089232,675,Simple pass,"[{'y': 74, 'x': 8}, {'y': 56, 'x': 9}]",Pass,40756,253302698,2943.089232,2953.089232,675---2565927,1

In [32]:
import math

def calculate_pass_details_from_single_column(row):
    if row['positions'] is not None and len(row['positions']) == 2:
        # Extract and normalize start and end locations
        start_loc = row['positions'][0]
        end_loc = row['positions'][1]
        
        start_x = start_loc['x'] * (120 / 100.0)
        start_y = start_loc['y'] * (80 / 100.0)
        end_x = end_loc['x'] * (120 / 100.0)
        end_y = end_loc['y'] * (80 / 100.0)
        
        # Calculate pass length and angle
        delta_x = end_x - start_x
        delta_y = end_y - start_y
        pass_length = math.sqrt(delta_x**2 + delta_y**2)
        pass_angle = math.atan2(delta_y, delta_x)
        
        return pd.Series([pass_length, pass_angle])
    else:
        return pd.Series([None, None])

In [33]:
passes_df[['calculated_pass_length', 'calculated_pass_angle']] = passes_df.apply(calculate_pass_details_from_single_column, axis=1)

In [34]:
def determine_pass_direction(angle):
    # Forward Pass: -π/4 < angle < π/4
    if -np.pi/4 < angle < np.pi/4:
        return "Forward Pass"
    # Backward Pass: 3π/4 < angle <= π or -π <= angle < -3π/4
    elif 3*np.pi/4 < angle <= np.pi or -np.pi <= angle < -3*np.pi/4:
        return "Backward Pass"
    # Side Pass: Otherwise
    else:
        return "Side Pass"

In [35]:
passes_df['pass_direction'] = passes_df['calculated_pass_angle'].apply(determine_pass_direction)

In [36]:
passes_df

,id,matchId,eventSec,teamId,subEventName,positions,eventName,playerId,id_trans,eventSec_trans,transition_end_time,uniqueTeamId,Zone,calculated_pass_length,calculated_pass_angle,pass_direction
272,238886804,2499738,4.405917,1619,High pass,"[{'y': 47, 'x': 32}, {'y': 18, 'x': 79}]",Pass,8136,238887830,2.287007,12.287007,1619---2499738,1,60.985244,-0.390250,Forward Pass
372,238886834,2499738,9.896286,1633,Head pass,"[{'y': 68, 'x': 23}, {'y': 69, 'x': 35}]",Pass,37725,238886834,9.896286,19.896286,1633---2499738,1,14.422205,0.055499,Forward Pass
558,238886836,2499738,10.893120,1633,Head pass,"[{'y': 69, 'x': 35}, {'y': 67, 'x': 41}]",Pass,8677,238886834,9.896286,19.896286,1633---2499738,2,7.375636,-0.218669,Forward Pass
744,238886838,2499738,11.644449,1633,Simple pass,"[{'y': 67, 'x': 41}, {'y': 70, 'x': 39}]",Pass,14703,238886834,9.896286,19.896286,1633---2499738,2,3.394113,2.356194,Side Pass
930,238886840,2499738,12.573265,1633,Simple pass,"[{'y': 70, 'x': 39}, {'y': 69, 'x': 42}]",Pass,70965,238886834,9.896286,19.896286,1633---2499738,2,3.687818,-0.218669,Forward Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731198,253302672,2565927,2813.117759,675,High pass,"[{'y': 27, 'x': 36}, {'y': 90, 'x': 33}]",Pass,14723,253302669,2808.463744,2818.463744,675---2565927,2,50.528408,1.642104,Side Pass
731352,253302675,2565927,2817.686043,675,Simple pass,"[{'y': 90, 'x': 33}, {'y': 94, 'x': 45}]",Pass,4501,253302669,2808.463744,2818.463744,675---2565927,1,14.751271,0.218669,Forward Pass
732431,253302650,2565927,2874.769542,682,Simple pass,"[{'y': 16, 'x': 7}, {'y': 6, 'x': 27}]",Pass,3695,253302650,2874.769542,2884.769542,682---2565927,1,25.298221,-0.321751,Forward Pass
732585,253302651,2565927,2876.959208,682,Simple pass,"[{'y': 6, 'x': 27}, {'y': 4, 'x': 40}]",Pass,286994,253302650,2874.769542,2884.769542,682---2565927,1,15.681837,-0.102207,Forward Pass
733356,253302698,2565927,2943.089232,675,Simple pass,"[{'y': 74, 'x': 8}, {'y': 56, 'x': 9}]",Pass,40756,253302698,2943.089232,2953.089232,675---2565927,1,14.449913,-1.487655,Side Pass

In [37]:
np.unique(passes_df.subEventName)

array(['Cross', 'Hand pass', 'Head pass', 'High pass', 'Launch', 'Shot',
       'Simple pass', 'Smart pass'], dtype=object)

In [38]:
passes_df

,id,matchId,eventSec,teamId,subEventName,positions,eventName,playerId,id_trans,eventSec_trans,transition_end_time,uniqueTeamId,Zone,calculated_pass_length,calculated_pass_angle,pass_direction
272,238886804,2499738,4.405917,1619,High pass,"[{'y': 47, 'x': 32}, {'y': 18, 'x': 79}]",Pass,8136,238887830,2.287007,12.287007,1619---2499738,1,60.985244,-0.390250,Forward Pass
372,238886834,2499738,9.896286,1633,Head pass,"[{'y': 68, 'x': 23}, {'y': 69, 'x': 35}]",Pass,37725,238886834,9.896286,19.896286,1633---2499738,1,14.422205,0.055499,Forward Pass
558,238886836,2499738,10.893120,1633,Head pass,"[{'y': 69, 'x': 35}, {'y': 67, 'x': 41}]",Pass,8677,238886834,9.896286,19.896286,1633---2499738,2,7.375636,-0.218669,Forward Pass
744,238886838,2499738,11.644449,1633,Simple pass,"[{'y': 67, 'x': 41}, {'y': 70, 'x': 39}]",Pass,14703,238886834,9.896286,19.896286,1633---2499738,2,3.394113,2.356194,Side Pass
930,238886840,2499738,12.573265,1633,Simple pass,"[{'y': 70, 'x': 39}, {'y': 69, 'x': 42}]",Pass,70965,238886834,9.896286,19.896286,1633---2499738,2,3.687818,-0.218669,Forward Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731198,253302672,2565927,2813.117759,675,High pass,"[{'y': 27, 'x': 36}, {'y': 90, 'x': 33}]",Pass,14723,253302669,2808.463744,2818.463744,675---2565927,2,50.528408,1.642104,Side Pass
731352,253302675,2565927,2817.686043,675,Simple pass,"[{'y': 90, 'x': 33}, {'y': 94, 'x': 45}]",Pass,4501,253302669,2808.463744,2818.463744,675---2565927,1,14.751271,0.218669,Forward Pass
732431,253302650,2565927,2874.769542,682,Simple pass,"[{'y': 16, 'x': 7}, {'y': 6, 'x': 27}]",Pass,3695,253302650,2874.769542,2884.769542,682---2565927,1,25.298221,-0.321751,Forward Pass
732585,253302651,2565927,2876.959208,682,Simple pass,"[{'y': 6, 'x': 27}, {'y': 4, 'x': 40}]",Pass,286994,253302650,2874.769542,2884.769542,682---2565927,1,15.681837,-0.102207,Forward Pass
733356,253302698,2565927,2943.089232,675,Simple pass,"[{'y': 74, 'x': 8}, {'y': 56, 'x': 9}]",Pass,40756,253302698,2943.089232,2953.089232,675---2565927,1,14.449913,-1.487655,Side Pass

In [39]:
#passes_count = passes_df.groupby('teamId')['subEventName'].value_counts().unstack(fill_value=0)

In [40]:
"""
passes_df['pass_direction'] = passes_df['calculated_pass_angle'].apply(determine_pass_direction)
passes_df['dir_zone'] = passes_df['pass_direction'].astype(str) + '_Zone_' + passes_df['Zone'].astype(str)

# Analyzing pass length
q1, q2, q3 = passes_df['calculated_pass_length'].quantile([0.33, 0.66, 1.0])
passes_df['pass_length_type'] = pd.cut(passes_df['calculated_pass_length'], bins=[0, q1, q2, q3], labels=['Short', 'Middle', 'Long'], include_lowest=True)

# Grouping, Counting, and Pivoting
grouped = passes_df.groupby(['uniqueTeamId', 'dir_zone']).size()
pivot_table = grouped.unstack(fill_value=0)
pass_length_stats = passes_df.groupby(['uniqueTeamId', 'pass_length_type']).size().unstack(fill_value=0)
average_pass_length = passes_df.groupby('uniqueTeamId')['calculated_pass_length'].mean()

# Final DataFrame
final_df = pd.concat([pivot_table, pass_length_stats, average_pass_length.rename('average_pass_length')], axis=1)

final_df.head()  # Display the top rows of the DataFrame"""

"\npasses_df['pass_direction'] = passes_df['calculated_pass_angle'].apply(determine_pass_direction)\npasses_df['dir_zone'] = passes_df['pass_direction'].astype(str) + '_Zone_' + passes_df['Zone'].astype(str)\n\n# Analyzing pass length\nq1, q2, q3 = passes_df['calculated_pass_length'].quantile([0.33, 0.66, 1.0])\npasses_df['pass_length_type'] = pd.cut(passes_df['calculated_pass_length'], bins=[0, q1, q2, q3], labels=['Short', 'Middle', 'Long'], include_lowest=True)\n\n# Grouping, Counting, and Pivoting\ngrouped = passes_df.groupby(['uniqueTeamId', 'dir_zone']).size()\npivot_table = grouped.unstack(fill_value=0)\npass_length_stats = passes_df.groupby(['uniqueTeamId', 'pass_length_type']).size().unstack(fill_value=0)\naverage_pass_length = passes_df.groupby('uniqueTeamId')['calculated_pass_length'].mean()\n\n# Final DataFrame\nfinal_df = pd.concat([pivot_table, pass_length_stats, average_pass_length.rename('average_pass_length')], axis=1)\n\nfinal_df.head()  # Display the top rows of the DataFrame"

In [41]:
# Step 1: Combine 'pass_direction' and 'Zone' into a single column
passes_df['dir_zone'] = passes_df['pass_direction'].astype(str) + '_Zone_' + passes_df['Zone'].astype(str)

# Step 2: Group by 'uniqueTeamId' and the new 'dir_zone' column, then count
direction_zone_count = passes_df.groupby(['uniqueTeamId', 'dir_zone']).size()

q1, q2, q3 = passes_df['calculated_pass_length'].quantile([0.33, 0.66, 1.0])
passes_df['pass_length_type'] = pd.cut(passes_df['calculated_pass_length'], bins=[0, q1, q2, q3], labels=['Short', 'Middle', 'Long'], include_lowest=True)
pass_length_stats = passes_df.groupby(['uniqueTeamId', 'pass_length_type']).size().unstack(fill_value=0)
average_pass_length = passes_df.groupby('uniqueTeamId')['calculated_pass_length'].mean()


# Step 3: Pivot the results to have 'uniqueTeamId' as rows and each unique 'dir_zone' combination as columns
direction_zone_count_pivot = direction_zone_count.unstack(fill_value=0)

direction_count = passes_df.groupby('uniqueTeamId')['pass_direction'].value_counts().unstack(fill_value=0)

pass_direction_df = pd.concat([direction_zone_count_pivot, direction_count, pass_length_stats, average_pass_length.rename('average_pass_length')], axis=1)

In [42]:
pass_direction_df

,Backward Pass_Zone_1,Backward Pass_Zone_2,Backward Pass_Zone_3,Forward Pass_Zone_1,Forward Pass_Zone_2,Forward Pass_Zone_3,Side Pass_Zone_1,Side Pass_Zone_2,Side Pass_Zone_3,Backward Pass,Forward Pass,Side Pass,Short,Middle,Long,average_pass_length
uniqueTeamId,,,,,,,,,,,,,,,,
10531---2499913,12,38,7,58,34,6,61,57,17,57,98,135,113,109,68,20.946378
10531---2499927,10,21,4,54,43,2,58,55,10,35,99,123,82,88,87,23.554413
10531---2499937,10,14,5,49,32,3,52,41,6,29,84,99,56,69,87,27.062984
10531---2499945,13,25,8,42,39,7,49,50,15,46,88,114,67,95,86,24.664760
10531---2499957,4,19,5,38,36,8,43,29,14,28,82,86,64,55,77,24.662659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
756---2565880,7,15,14,33,42,11,43,59,37,36,86,139,78,76,107,28.875240
756---2565892,10,20,7,37,33,8,33,54,30,37,78,117,74,79,79,25.055874
756---2565904,13,20,8,55,29,4,65,36,20,41,88,121,81,66,103,27.435210
756---2565908,8,25,21,44,65,6,47,63,26,54,115,136,90,106,109,26.000048
756---2565923,7,13,8,36,27,5,32,30,27,28,68,89,52,58,75,26.871795

## Pass Types

In [43]:
high_pass_types = ['High pass', 'Cross', 'Launch']
# Define low pass types based on exclusion
all_pass_types = passes_df['subEventName'].unique()
low_pass_types = [pt for pt in all_pass_types if pt not in high_pass_types and pt != 'Smart pass']

# Group by 'uniqueTeamId' and count passes
pass_counts = passes_df.groupby(['uniqueTeamId', 'subEventName']).size().unstack(fill_value=0)
pass_counts['Total_Passes'] = pass_counts.sum(axis=1)

# Calculate high pass and low pass totals
pass_counts['High_pass_Total'] = pass_counts[high_pass_types].sum(axis=1)
pass_counts['Low_pass_Total'] = pass_counts[low_pass_types].sum(axis=1)

# Calculate overall high pass and low pass ratios
pass_counts['High_pass_Ratio_Total'] = pass_counts['High_pass_Total'] / pass_counts['Total_Passes']
pass_counts['Low_pass_Ratio_Total'] = pass_counts['Low_pass_Total'] / pass_counts['Total_Passes']
pass_counts['Smart_pass_Ratio_Total'] = pass_counts['Smart pass'] / pass_counts['Total_Passes']


# Now, we'll prepare the final DataFrame with the required columns
final_columns = ['Total_Passes', 'High_pass_Ratio_Total', 'Low_pass_Ratio_Total', 'Smart_pass_Ratio_Total']
final_pass_types_df = pass_counts[final_columns]

# If needed, calculate zone-specific ratios (demonstrated for High pass, replicate for Low pass as necessary)
zones = passes_df['Zone'].unique()
for zone in zones:
    zone_specific_passes = passes_df[passes_df['Zone'] == zone]
    zone_pass_counts = zone_specific_passes.groupby(['uniqueTeamId', 'subEventName']).size().unstack(fill_value=0)
    zone_pass_counts['Total_Passes'] = zone_pass_counts.sum(axis=1)
    
    # High pass total and ratio for the zone
    zone_pass_counts['High_pass_Total_Zone'] = zone_pass_counts[high_pass_types].sum(axis=1)
    final_pass_types_df[f'High_pass_Ratio_Zone{zone}'] = zone_pass_counts['High_pass_Total_Zone'] / zone_pass_counts['Total_Passes']
    
    # Low pass total and ratio for the zone
    zone_pass_counts['Low_pass_Total_Zone'] = zone_pass_counts[low_pass_types].sum(axis=1)
    final_pass_types_df[f'Low_pass_Ratio_Zone{zone}'] = zone_pass_counts['Low_pass_Total_Zone'] / zone_pass_counts['Total_Passes']

<ipython-input-43-baa8d20fec00>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_pass_types_df[f'High_pass_Ratio_Zone{zone}'] = zone_pass_counts['High_pass_Total_Zone'] / zone_pass_counts['Total_Passes']
<ipython-input-43-baa8d20fec00>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_pass_types_df[f'Low_pass_Ratio_Zone{zone}'] = zone_pass_counts['Low_pass_Total_Zone'] / zone_pass_counts['Total_Passes']
<ipython-input-43-baa8d20fec00>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_pass_types_df[f'High_pass_Ratio_Zone{zone}'] = zone_pass_counts['High_pass_Total_Zone'] / zone_pass_counts['Total_Passes']
<ipython-input-43-baa8d20fec00>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_pass_types_df[f'Low_pass_Ratio_Zone{zone}'] = zone_pass_counts['Low_pass_Total_Zone'] / zone_pass_counts['Total_Passes']
<ipython-input-43-baa8d20fec00>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_pass_types_df[f'High_pass_Ratio_Zone{zone}'] = zone_pass_counts['High_pass_Total_Zone'] / zone_pass_counts['Total_Passes']
<ipython-input-43-baa8d20fec00>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_pass_types_df[f'Low_pass_Ratio_Zone{zone}'] = zone_pass_counts['Low_pass_Total_Zone'] / zone_pass_counts['Total_Passes']

In [44]:
final_pass_types_df

subEventName,Total_Passes,High_pass_Ratio_Total,Low_pass_Ratio_Total,Smart_pass_Ratio_Total,High_pass_Ratio_Zone1,Low_pass_Ratio_Zone1,High_pass_Ratio_Zone2,Low_pass_Ratio_Zone2,High_pass_Ratio_Zone3,Low_pass_Ratio_Zone3
uniqueTeamId,,,,,,,,,,
10531---2499913,290,0.100000,0.893103,0.006897,0.114504,0.885496,0.093023,0.899225,0.066667,0.900000
10531---2499927,257,0.093385,0.898833,0.007782,0.122951,0.877049,0.058824,0.932773,0.125000,0.812500
10531---2499937,212,0.174528,0.801887,0.023585,0.234234,0.765766,0.091954,0.850575,0.214286,0.785714
10531---2499945,248,0.120968,0.870968,0.008065,0.163462,0.836538,0.087719,0.903509,0.100000,0.866667
10531---2499957,196,0.163265,0.836735,0.000000,0.247059,0.752941,0.119048,0.880952,0.037037,0.962963
...,...,...,...,...,...,...,...,...,...,...
756---2565880,261,0.187739,0.800766,0.011494,0.192771,0.807229,0.112069,0.879310,0.322581,0.645161
756---2565892,232,0.155172,0.836207,0.008621,0.150000,0.850000,0.102804,0.887850,0.288889,0.688889
756---2565904,250,0.228000,0.760000,0.012000,0.255639,0.744361,0.152941,0.823529,0.312500,0.656250
756---2565908,305,0.144262,0.839344,0.016393,0.151515,0.848485,0.104575,0.869281,0.245283,0.735849
756---2565923,185,0.200000,0.756757,0.043243,0.280000,0.720000,0.142857,0.771429,0.150000,0.800000

# Pass_Connectivity

In [45]:
pd.DataFrame(passes_df.groupby("matchId"))

           0                                                  1
0    2499738                 id  matchId     eventSec  teamI...
1    2499909                 id  matchId     eventSec  teamI...
2    2499910                 id  matchId     eventSec  teamI...
3    2499911                 id  matchId     eventSec  teamI...
4    2499912                 id  matchId     eventSec  teamI...
..       ...                                                ...
908  2576334                  id  matchId     eventSec  team...
909  2576335                  id  matchId     eventSec  team...
910  2576336                  id  matchId     eventSec  team...
911  2576337                  id  matchId     eventSec  team...
912  2576338                  id  matchId     eventSec  team...

[913 rows x 2 columns]

In [46]:
passes_df

,id,matchId,eventSec,teamId,subEventName,positions,eventName,playerId,id_trans,eventSec_trans,transition_end_time,uniqueTeamId,Zone,calculated_pass_length,calculated_pass_angle,pass_direction,dir_zone,pass_length_type
272,238886804,2499738,4.405917,1619,High pass,"[{'y': 47, 'x': 32}, {'y': 18, 'x': 79}]",Pass,8136,238887830,2.287007,12.287007,1619---2499738,1,60.985244,-0.390250,Forward Pass,Forward Pass_Zone_1,Long
372,238886834,2499738,9.896286,1633,Head pass,"[{'y': 68, 'x': 23}, {'y': 69, 'x': 35}]",Pass,37725,238886834,9.896286,19.896286,1633---2499738,1,14.422205,0.055499,Forward Pass,Forward Pass_Zone_1,Short
558,238886836,2499738,10.893120,1633,Head pass,"[{'y': 69, 'x': 35}, {'y': 67, 'x': 41}]",Pass,8677,238886834,9.896286,19.896286,1633---2499738,2,7.375636,-0.218669,Forward Pass,Forward Pass_Zone_2,Short
744,238886838,2499738,11.644449,1633,Simple pass,"[{'y': 67, 'x': 41}, {'y': 70, 'x': 39}]",Pass,14703,238886834,9.896286,19.896286,1633---2499738,2,3.394113,2.356194,Side Pass,Side Pass_Zone_2,Short
930,238886840,2499738,12.573265,1633,Simple pass,"[{'y': 70, 'x': 39}, {'y': 69, 'x': 42}]",Pass,70965,238886834,9.896286,19.896286,1633---2499738,2,3.687818,-0.218669,Forward Pass,Forward Pass_Zone_2,Short
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731198,253302672,2565927,2813.117759,675,High pass,"[{'y': 27, 'x': 36}, {'y': 90, 'x': 33}]",Pass,14723,253302669,2808.463744,2818.463744,675---2565927,2,50.528408,1.642104,Side Pass,Side Pass_Zone_2,Long
731352,253302675,2565927,2817.686043,675,Simple pass,"[{'y': 90, 'x': 33}, {'y': 94, 'x': 45}]",Pass,4501,253302669,2808.463744,2818.463744,675---2565927,1,14.751271,0.218669,Forward Pass,Forward Pass_Zone_1,Short
732431,253302650,2565927,2874.769542,682,Simple pass,"[{'y': 16, 'x': 7}, {'y': 6, 'x': 27}]",Pass,3695,253302650,2874.769542,2884.769542,682---2565927,1,25.298221,-0.321751,Forward Pass,Forward Pass_Zone_1,Middle
732585,253302651,2565927,2876.959208,682,Simple pass,"[{'y': 6, 'x': 27}, {'y': 4, 'x': 40}]",Pass,286994,253302650,2874.769542,2884.769542,682---2565927,1,15.681837,-0.102207,Forward Pass,Forward Pass_Zone_1,Middle
733356,253302698,2565927,2943.089232,675,Simple pass,"[{'y': 74, 'x': 8}, {'y': 56, 'x': 9}]",Pass,40756,253302698,2943.089232,2953.089232,675---2565927,1,14.449913,-1.487655,Side Pass,Side Pass_Zone_1,Short

In [47]:
from collections import defaultdict
import networkx as nx

In [48]:
def calculate_pass_connectivity(group):
    # Initialize two empty graphs for the two teams in the match
    team_graphs = {team_id: nx.Graph() for team_id in group['uniqueTeamId'].unique()}
    
    # Track the previous player and team to identify consecutive passes
    prev_player = None
    prev_team = None
    
    for i, pass_ in group.iterrows():
        current_player = pass_['playerId']
        current_team = pass_['uniqueTeamId']
        
        # Check for consecutive passes within the same team
        if prev_team == current_team and prev_player is not None:
            team_graphs[current_team].add_edge(prev_player, current_player)
        
        # Update the previous player and team for the next iteration
        prev_player = current_player
        prev_team = current_team
    
    # Calculate connectivity for each team graph
    connectivities = {}
    for team_id, graph in team_graphs.items():
        if len(graph) == 0:  # Handle cases where a team made no passes or only incomplete passes
            connectivity = 0
        else:
            connectivity = nx.average_node_connectivity(graph)
        connectivities[team_id] = connectivity
    
    return connectivities

In [49]:
connectivity_results = [calculate_pass_connectivity(group) for _, group in passes_df.groupby(['matchId'])]

In [50]:
conn_dict = {**{key: [value] for d in connectivity_results for key, value in d.items()}}
connectivity_df = pd.DataFrame(conn_dict)
connectivity_df = connectivity_df.T
connectivity_df.rename(columns = {0:'Connectivity'}, inplace = True)

In [51]:
connectivity_df.to_csv('transition_connectivity_df.csv', index=True)

# Merge DataFrames

In [52]:
final_df = pd.concat([motif_ratios, final_pass_types_df, pass_direction_df, shot_df_final, connectivity_df], axis=1)
# Iterate through each column in final_df to find and adjust the specified columns
for col in final_df.columns:
    # Check if the column name contains 'Backward', 'Forward', or 'Side'
    if any(keyword in col for keyword in ['Backward', 'Forward', 'Side', "Short", "Middle", "Long"]):
        # Divide the column by the 'Total_Passes' column
        final_df[col] = final_df[col] / final_df['Total_Passes']
        # Rename the column to add " Ratio" at the end
        final_df.rename(columns={col: col + " Ratio"}, inplace=True)

In [53]:
final_df

,ABAB,ABCA,ABCB,ABCD,Total_Passes,High_pass_Ratio_Total,Low_pass_Ratio_Total,Smart_pass_Ratio_Total,High_pass_Ratio_Zone1,Low_pass_Ratio_Zone1,...,Side Pass Ratio,Short Ratio,Middle Ratio,Long Ratio,average_pass_length,Total Shots,Far Shots Ratio,Middle Distance Shots Ratio Ratio,Near Shots Ratio,Connectivity
10531---2499913,0.024390,0.114983,0.114983,0.745645,290,0.100000,0.893103,0.006897,0.114504,0.885496,...,0.465517,0.389655,0.375862,0.234483,20.946378,2.0,0.000000,0.003448,0.000000,6.593407
10531---2499927,0.043307,0.098425,0.106299,0.751969,257,0.093385,0.898833,0.007782,0.122951,0.877049,...,0.478599,0.319066,0.342412,0.338521,23.554413,4.0,0.250000,0.001946,0.250000,5.813187
10531---2499937,0.023923,0.086124,0.095694,0.794258,212,0.174528,0.801887,0.023585,0.234234,0.765766,...,0.466981,0.264151,0.325472,0.410377,27.062984,3.0,0.333333,0.000000,0.666667,5.241758
10531---2499945,0.048980,0.069388,0.069388,0.812245,248,0.120968,0.870968,0.008065,0.163462,0.836538,...,0.459677,0.270161,0.383065,0.346774,24.664760,NaN,NaN,NaN,NaN,6.089744
10531---2499957,0.031088,0.046632,0.051813,0.870466,196,0.163265,0.836735,0.000000,0.247059,0.752941,...,0.438776,0.326531,0.280612,0.392857,24.662659,NaN,NaN,NaN,NaN,5.712121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
756---2565880,0.050388,0.089147,0.089147,0.771318,261,0.187739,0.800766,0.011494,0.192771,0.807229,...,0.532567,0.298851,0.291188,0.409962,28.875240,6.0,0.000000,0.001916,0.500000,5.021978
756---2565892,0.052402,0.100437,0.104803,0.742358,232,0.155172,0.836207,0.008621,0.150000,0.850000,...,0.504310,0.318966,0.340517,0.340517,25.055874,4.0,0.500000,0.002155,0.000000,6.666667
756---2565904,0.032389,0.056680,0.052632,0.858300,250,0.228000,0.760000,0.012000,0.255639,0.744361,...,0.484000,0.324000,0.264000,0.412000,27.435210,5.0,0.000000,0.003200,0.200000,6.769231
756---2565908,0.049669,0.089404,0.096026,0.764901,305,0.144262,0.839344,0.016393,0.151515,0.848485,...,0.445902,0.295082,0.347541,0.357377,26.000048,5.0,0.400000,0.001311,0.200000,5.582418
756---2565923,0.027473,0.049451,0.049451,0.873626,185,0.200000,0.756757,0.043243,0.280000,0.720000,...,0.481081,0.281081,0.313514,0.405405,26.871795,8.0,0.375000,0.002027,0.250000,5.884615

In [54]:
table_name = "final_transition_in_poss_df"

if half is not None:
    final_df.to_csv(f'{table_name}_{half}.csv', index=True)
else:
    final_df.to_csv(f'{table_name}.csv', index=True)

# END OF FILE