In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
half = "1H"
max_min = 15
min_min = max_min - 15
max_sec = max_min*60
min_sec = min_min*60
table_name = "final_in_poss_df"

In [3]:
print(f'{table_name}_{half}_{min_min}_{max_min}.csv')

final_in_poss_df_1H_0_15.csv

In [4]:
with open("../../events/events_England.json", "r") as file:
    event_data_2 = json.load(file)

df2 = pd.DataFrame(event_data_2)
df2 = df2[df2.matchPeriod == half]
df2 = df2[df2.eventSec >= min_sec]
if max_min < 45:
    df2 = df2[df2.eventSec < max_sec]

with open("../../events/events_France.json", "r") as file:
    event_data_3 = json.load(file)

df3 = pd.DataFrame(event_data_3)
df3 = df3[df3.matchPeriod == half]
df3 = df3[df3.eventSec >= min_sec]
if max_min < 45:
    df3 = df3[df3.eventSec < max_sec]


with open("../../events/events_Germany.json", "r") as file:
    event_data_4 = json.load(file)

df4 = pd.DataFrame(event_data_4)
df4 = df4[df4.matchPeriod == half]
df4 = df4[df4.eventSec >= min_sec]
if max_min < 45:
    df4 = df4[df4.eventSec < max_sec]


with open("../../events/events_Italy.json", "r") as file:
    event_data_5 = json.load(file)

df5 = pd.DataFrame(event_data_5)
df5 = df5[df5.matchPeriod == half]
df5 = df5[df5.eventSec >= min_sec]
if max_min < 45:
    df5 = df5[df5.eventSec < max_sec]


with open("../../events/events_Spain.json", "r") as file:
    event_data_6 = json.load(file)

df6 = pd.DataFrame(event_data_6)
df6 = df6[df6.matchPeriod == half]
df6 = df6[df6.eventSec >= min_sec]
if max_min < 45:
    df6 = df6[df6.eventSec < max_sec]


with open("../../events/teams.json", "r") as file:
    teams_data = json.load(file)

teams_df = pd.DataFrame(teams_data)

In [5]:
all_events_df = pd.concat([df2, df3, df4, df5, df6], ignore_index=True)

# Feature engineering - Pass DF - Pass Motifs

In [6]:
passes_df = all_events_df[all_events_df['eventName'] == 'Pass']

# Concatenating teamId and matchId to create a unique identifier for each team in each match
passes_df['uniqueTeamId'] = passes_df['teamId'].astype(str) + "---" + passes_df['matchId'].astype(str)

<ipython-input-6-846069bd07cf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passes_df['uniqueTeamId'] = passes_df['teamId'].astype(str) + "---" + passes_df['matchId'].astype(str)

In [7]:
# Function to classify pass motifs
def classify_pass_motif(passes):
    players = passes['playerId'].values
    if len(set(players)) == 2:  # ABAB
        return 'ABAB'
    elif len(set(players)) == 3:
        if players[0] == players[2] or players[1] == players[3]:  # ABCA or ABCB
            return 'ABCA' if players[0] == players[2] else 'ABCB'
        else:
            return 'ABCD'  # ABCD for distinct players or other scenarios
    return 'ABCD'

# Apply the classification within a rolling window
def apply_motif_classification(df):
    # Ensure the DataFrame is sorted by event time
    df = df.sort_values(by='eventSec')
    motifs = []
    # Using a rolling window of 4 events
    for i in range(len(df) - 3):
        window = df.iloc[i:i+4]
        motif = classify_pass_motif(window)
        motifs.append((window.iloc[-1]['uniqueTeamId'], motif))
    return pd.DataFrame(motifs, columns=['uniqueTeamId', 'Motif'])

In [8]:
motif_classification_results = passes_df.groupby('uniqueTeamId').apply(apply_motif_classification)

In [9]:
motif_classification_results.reset_index(drop=True, inplace=True)

In [10]:
motif_classification_results

           uniqueTeamId Motif
0       10531---2499726  ABCD
1       10531---2499726  ABCD
2       10531---2499726  ABCD
3       10531---2499726  ABCD
4       10531---2499726  ABCD
...                 ...   ...
271964    756---2565923  ABCA
271965    756---2565923  ABCD
271966    756---2565923  ABCD
271967    756---2565923  ABCD
271968    756---2565923  ABCD

[271969 rows x 2 columns]

In [11]:
motif_counts = motif_classification_results.groupby(['uniqueTeamId', 'Motif']).size().unstack(fill_value=0)

In [12]:
motif_ratios = motif_counts.div(motif_counts.sum(axis=1), axis=0)
# df to be used in clustering

In [13]:
motif_ratios

Motif                ABAB      ABCA      ABCB      ABCD
uniqueTeamId
10531---2499726  0.000000  0.112903  0.129032  0.758065
10531---2499736  0.000000  0.111111  0.111111  0.777778
10531---2499741  0.030769  0.107692  0.115385  0.746154
10531---2499757  0.033613  0.126050  0.126050  0.714286
10531---2499766  0.000000  0.087719  0.087719  0.824561
...                   ...       ...       ...       ...
756---2565880    0.075949  0.139241  0.139241  0.645570
756---2565892    0.047619  0.119048  0.095238  0.738095
756---2565904    0.000000  0.108696  0.086957  0.804348
756---2565908    0.022222  0.166667  0.177778  0.633333
756---2565923    0.030303  0.075758  0.075758  0.818182

[3652 rows x 4 columns]

In [14]:
motif_stats = motif_ratios.agg(['mean', 'std']).T

In [15]:
motif_stats

           mean       std
Motif
ABAB   0.034721  0.028929
ABCA   0.107509  0.036457
ABCB   0.108804  0.036526
ABCD   0.748966  0.080183

# Feature engineering - Shot DF

In [16]:
shot_df = all_events_df[all_events_df['eventName'] == 'Shot']
shot_df['uniqueTeamId'] = shot_df['teamId'].astype(str) + "---" + shot_df['matchId'].astype(str)

<ipython-input-16-396a5f5d4462>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shot_df['uniqueTeamId'] = shot_df['teamId'].astype(str) + "---" + shot_df['matchId'].astype(str)

In [17]:
import math

def calculate_shot_distance(row):
    if row['positions'] is not None and len(row['positions']) > 0:
        loc = row['positions'][0]
        # Normalize locations
        x = loc['x'] * (120 / 100.0)  # Normalizing the x coordinate
        y = loc['y'] * (80 / 100.0)   # Normalizing the y coordinate
        # Calculate Euclidean distance from (0,0)
        distance = math.sqrt((120-x)**2 + (80-y)**2)
        return distance
    return None

# Apply the function to calculate shot distance and add it to the DataFrame
shot_df['shot_distance'] = shot_df.apply(calculate_shot_distance, axis=1)

<ipython-input-17-103ed8455f10>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shot_df['shot_distance'] = shot_df.apply(calculate_shot_distance, axis=1)

In [18]:
def classify_shot_by_distance(distance):
    if distance <= 38:
        return "Near"
    elif distance <= 52:
        return "Middle Distance"
    else:
        return "Far"

# Assuming shot_df has a 'shot_distance' column calculated as before
shot_df['shot_class'] = shot_df['shot_distance'].apply(classify_shot_by_distance)

# Grouping shots by their class and counting
shot_class_counts = shot_df.groupby('uniqueTeamId')['shot_class'].value_counts().unstack(fill_value=0)
shot_counts = shot_df.groupby('uniqueTeamId')['subEventName'].value_counts().unstack(fill_value=0)

<ipython-input-18-0451b5045683>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shot_df['shot_class'] = shot_df['shot_distance'].apply(classify_shot_by_distance)

In [19]:
shot_df_final = pd.concat([shot_counts, shot_class_counts], axis=1)

In [20]:
shot_df_final

                 Shot  Far  Middle Distance  Near
uniqueTeamId
10531---2499726     1    0                1     0
10531---2499736     2    1                1     0
10531---2499741     2    0                0     2
10531---2499766     1    0                0     1
10531---2499777     1    0                0     1
...               ...  ...              ...   ...
756---2565864       1    0                1     0
756---2565870       3    1                2     0
756---2565880       1    0                0     1
756---2565892       2    0                1     1
756---2565923       4    1                3     0

[2733 rows x 4 columns]

In [21]:
shot_df_final.rename(columns = {'Shot':'Total Shots'}, inplace = True) 

shot_df_final["Far"] = shot_df_final["Far"]/shot_df_final["Total Shots"]
shot_df_final["Middle Distance"] = shot_df_final["Middle Distance"]/shot_df_final["Total Shots"]
shot_df_final["Near"] = shot_df_final["Near"]/shot_df_final["Total Shots"]


shot_df_final.rename(columns = {'Near':'Near Shots Ratio', 'Middle Distance':'Middle Distance Shots Ratio', 'Far':'Far Shots Ratio',}, inplace = True)

In [22]:
shot_df_final

,Total Shots,Far Shots Ratio,Middle Distance Shots Ratio,Near Shots Ratio
uniqueTeamId,,,,
10531---2499726,1,0.000000,1.000000,0.0
10531---2499736,2,0.500000,0.500000,0.0
10531---2499741,2,0.000000,0.000000,1.0
10531---2499766,1,0.000000,0.000000,1.0
10531---2499777,1,0.000000,0.000000,1.0
...,...,...,...,...
756---2565864,1,0.000000,1.000000,0.0
756---2565870,3,0.333333,0.666667,0.0
756---2565880,1,0.000000,0.000000,1.0
756---2565892,2,0.000000,0.500000,0.5
756---2565923,4,0.250000,0.750000,0.0

# Feature engineering - Pass DF - Pass Types

In [23]:
def determine_zone(position):
    if 'x' in position and 'y' in position:
        x, y = position['x'], position['y']
        zone = int(x // 33.333) + 1
        return zone
    else:
        return None
    
# Apply the function to determine zones for each event
passes_df['Zone'] = passes_df['positions'].apply(lambda pos: determine_zone(pos[0]) if len(pos) > 0 else None)

<ipython-input-23-1dcee42e8a09>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passes_df['Zone'] = passes_df['positions'].apply(lambda pos: determine_zone(pos[0]) if len(pos) > 0 else None)

In [24]:
passes_df.loc[passes_df['Zone'] == 4, ['Zone']] = 3

In [25]:
passes_df

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,uniqueTeamId,Zone
0,8,Simple pass,[{'id': 1801}],25413,"[{'y': 49, 'x': 49}, {'y': 78, 'x': 31}]",2499719,Pass,1609,1H,2.758649,85,177959171,1609---2499719,2
1,8,High pass,[{'id': 1801}],370224,"[{'y': 78, 'x': 31}, {'y': 75, 'x': 51}]",2499719,Pass,1609,1H,4.946850,83,177959172,1609---2499719,1
2,8,Head pass,[{'id': 1801}],3319,"[{'y': 75, 'x': 51}, {'y': 71, 'x': 35}]",2499719,Pass,1609,1H,6.542188,82,177959173,1609---2499719,2
3,8,Head pass,[{'id': 1801}],120339,"[{'y': 71, 'x': 35}, {'y': 95, 'x': 41}]",2499719,Pass,1609,1H,8.143395,82,177959174,1609---2499719,2
4,8,Simple pass,[{'id': 1801}],167145,"[{'y': 95, 'x': 41}, {'y': 88, 'x': 72}]",2499719,Pass,1609,1H,10.302366,85,177959175,1609---2499719,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526216,8,Simple pass,[{'id': 1801}],8278,"[{'y': 9, 'x': 65}, {'y': 3, 'x': 57}]",2565927,Pass,675,1H,891.564347,85,253300841,675---2565927,2
526220,8,Simple pass,[{'id': 1801}],3310,"[{'y': 3, 'x': 61}, {'y': 3, 'x': 45}]",2565927,Pass,675,1H,894.488356,85,253300845,675---2565927,2
526222,8,Simple pass,[{'id': 1801}],3563,"[{'y': 7, 'x': 50}, {'y': 19, 'x': 46}]",2565927,Pass,675,1H,896.658726,85,253300847,675---2565927,2
526223,8,Simple pass,[{'id': 1801}],8287,"[{'y': 19, 'x': 46}, {'y': 9, 'x': 36}]",2565927,Pass,675,1H,896.850123,85,253300848,675---2565927,2
526224,8,Simple pass,[{'id': 1801}],14723,"[{'y': 9, 'x': 36}, {'y': 16, 'x': 57}]",2565927,Pass,675,1H,899.886723,85,253300849,675---2565927,2

In [26]:
import math

def calculate_pass_details_from_single_column(row):
    if row['positions'] is not None and len(row['positions']) == 2:
        # Extract and normalize start and end locations
        start_loc = row['positions'][0]
        end_loc = row['positions'][1]
        
        start_x = start_loc['x'] * (120 / 100.0)
        start_y = start_loc['y'] * (80 / 100.0)
        end_x = end_loc['x'] * (120 / 100.0)
        end_y = end_loc['y'] * (80 / 100.0)
        
        # Calculate pass length and angle
        delta_x = end_x - start_x
        delta_y = end_y - start_y
        pass_length = math.sqrt(delta_x**2 + delta_y**2)
        pass_angle = math.atan2(delta_y, delta_x)
        
        return pd.Series([pass_length, pass_angle])
    else:
        return pd.Series([None, None])

In [27]:
passes_df[['calculated_pass_length', 'calculated_pass_angle']] = passes_df.apply(calculate_pass_details_from_single_column, axis=1)

<ipython-input-27-53702553e163>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passes_df[['calculated_pass_length', 'calculated_pass_angle']] = passes_df.apply(calculate_pass_details_from_single_column, axis=1)
<ipython-input-27-53702553e163>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passes_df[['calculated_pass_length', 'calculated_pass_angle']] = passes_df.apply(calculate_pass_details_from_single_column, axis=1)

In [28]:
def determine_pass_direction(angle):
    # Forward Pass: -π/4 < angle < π/4
    if -np.pi/4 < angle < np.pi/4:
        return "Forward Pass"
    # Backward Pass: 3π/4 < angle <= π or -π <= angle < -3π/4
    elif 3*np.pi/4 < angle <= np.pi or -np.pi <= angle < -3*np.pi/4:
        return "Backward Pass"
    # Side Pass: Otherwise
    else:
        return "Side Pass"

In [29]:
passes_df['pass_direction'] = passes_df['calculated_pass_angle'].apply(determine_pass_direction)

<ipython-input-29-a0b0c4f17a64>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passes_df['pass_direction'] = passes_df['calculated_pass_angle'].apply(determine_pass_direction)

In [30]:
passes_df

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,uniqueTeamId,Zone,calculated_pass_length,calculated_pass_angle,pass_direction
0,8,Simple pass,[{'id': 1801}],25413,"[{'y': 49, 'x': 49}, {'y': 78, 'x': 31}]",2499719,Pass,1609,1H,2.758649,85,177959171,1609---2499719,2,31.698580,2.320495,Side Pass
1,8,High pass,[{'id': 1801}],370224,"[{'y': 78, 'x': 31}, {'y': 75, 'x': 51}]",2499719,Pass,1609,1H,4.946850,83,177959172,1609---2499719,1,24.119701,-0.099669,Forward Pass
2,8,Head pass,[{'id': 1801}],3319,"[{'y': 75, 'x': 51}, {'y': 71, 'x': 35}]",2499719,Pass,1609,1H,6.542188,82,177959173,1609---2499719,2,19.464840,-2.976444,Backward Pass
3,8,Head pass,[{'id': 1801}],120339,"[{'y': 71, 'x': 35}, {'y': 95, 'x': 41}]",2499719,Pass,1609,1H,8.143395,82,177959174,1609---2499719,2,20.505609,1.212026,Side Pass
4,8,Simple pass,[{'id': 1801}],167145,"[{'y': 95, 'x': 41}, {'y': 88, 'x': 72}]",2499719,Pass,1609,1H,10.302366,85,177959175,1609---2499719,2,37.619144,-0.149416,Forward Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526216,8,Simple pass,[{'id': 1801}],8278,"[{'y': 9, 'x': 65}, {'y': 3, 'x': 57}]",2565927,Pass,675,1H,891.564347,85,253300841,675---2565927,2,10.733126,-2.677945,Backward Pass
526220,8,Simple pass,[{'id': 1801}],3310,"[{'y': 3, 'x': 61}, {'y': 3, 'x': 45}]",2565927,Pass,675,1H,894.488356,85,253300845,675---2565927,2,19.200000,3.141593,Backward Pass
526222,8,Simple pass,[{'id': 1801}],3563,"[{'y': 7, 'x': 50}, {'y': 19, 'x': 46}]",2565927,Pass,675,1H,896.658726,85,253300847,675---2565927,2,10.733126,2.034444,Side Pass
526223,8,Simple pass,[{'id': 1801}],8287,"[{'y': 19, 'x': 46}, {'y': 9, 'x': 36}]",2565927,Pass,675,1H,896.850123,85,253300848,675---2565927,2,14.422205,-2.553590,Backward Pass
526224,8,Simple pass,[{'id': 1801}],14723,"[{'y': 9, 'x': 36}, {'y': 16, 'x': 57}]",2565927,Pass,675,1H,899.886723,85,253300849,675---2565927,2,25.814724,0.218669,Forward Pass

In [31]:
np.unique(passes_df.subEventName)

array(['Cross', 'Hand pass', 'Head pass', 'High pass', 'Launch',
       'Simple pass', 'Smart pass'], dtype=object)

In [32]:
passes_df

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,uniqueTeamId,Zone,calculated_pass_length,calculated_pass_angle,pass_direction
0,8,Simple pass,[{'id': 1801}],25413,"[{'y': 49, 'x': 49}, {'y': 78, 'x': 31}]",2499719,Pass,1609,1H,2.758649,85,177959171,1609---2499719,2,31.698580,2.320495,Side Pass
1,8,High pass,[{'id': 1801}],370224,"[{'y': 78, 'x': 31}, {'y': 75, 'x': 51}]",2499719,Pass,1609,1H,4.946850,83,177959172,1609---2499719,1,24.119701,-0.099669,Forward Pass
2,8,Head pass,[{'id': 1801}],3319,"[{'y': 75, 'x': 51}, {'y': 71, 'x': 35}]",2499719,Pass,1609,1H,6.542188,82,177959173,1609---2499719,2,19.464840,-2.976444,Backward Pass
3,8,Head pass,[{'id': 1801}],120339,"[{'y': 71, 'x': 35}, {'y': 95, 'x': 41}]",2499719,Pass,1609,1H,8.143395,82,177959174,1609---2499719,2,20.505609,1.212026,Side Pass
4,8,Simple pass,[{'id': 1801}],167145,"[{'y': 95, 'x': 41}, {'y': 88, 'x': 72}]",2499719,Pass,1609,1H,10.302366,85,177959175,1609---2499719,2,37.619144,-0.149416,Forward Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526216,8,Simple pass,[{'id': 1801}],8278,"[{'y': 9, 'x': 65}, {'y': 3, 'x': 57}]",2565927,Pass,675,1H,891.564347,85,253300841,675---2565927,2,10.733126,-2.677945,Backward Pass
526220,8,Simple pass,[{'id': 1801}],3310,"[{'y': 3, 'x': 61}, {'y': 3, 'x': 45}]",2565927,Pass,675,1H,894.488356,85,253300845,675---2565927,2,19.200000,3.141593,Backward Pass
526222,8,Simple pass,[{'id': 1801}],3563,"[{'y': 7, 'x': 50}, {'y': 19, 'x': 46}]",2565927,Pass,675,1H,896.658726,85,253300847,675---2565927,2,10.733126,2.034444,Side Pass
526223,8,Simple pass,[{'id': 1801}],8287,"[{'y': 19, 'x': 46}, {'y': 9, 'x': 36}]",2565927,Pass,675,1H,896.850123,85,253300848,675---2565927,2,14.422205,-2.553590,Backward Pass
526224,8,Simple pass,[{'id': 1801}],14723,"[{'y': 9, 'x': 36}, {'y': 16, 'x': 57}]",2565927,Pass,675,1H,899.886723,85,253300849,675---2565927,2,25.814724,0.218669,Forward Pass

In [33]:
#passes_count = passes_df.groupby('teamId')['subEventName'].value_counts().unstack(fill_value=0)

In [34]:
# Step 1: Combine 'pass_direction' and 'Zone' into a single column
passes_df['dir_zone'] = passes_df['pass_direction'].astype(str) + '_Zone_' + passes_df['Zone'].astype(str)

# Step 2: Group by 'uniqueTeamId' and the new 'dir_zone' column, then count
direction_zone_count = passes_df.groupby(['uniqueTeamId', 'dir_zone']).size()

# Step 3: Pivot the results to have 'uniqueTeamId' as rows and each unique 'dir_zone' combination as columns
direction_zone_count_pivot = direction_zone_count.unstack(fill_value=0)

direction_count = passes_df.groupby('uniqueTeamId')['pass_direction'].value_counts().unstack(fill_value=0)

pass_direction_df = pd.concat([direction_zone_count_pivot, direction_count], axis=1)

<ipython-input-34-54e3dcb6a0f6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passes_df['dir_zone'] = passes_df['pass_direction'].astype(str) + '_Zone_' + passes_df['Zone'].astype(str)

In [35]:
pass_direction_df

,Backward Pass_Zone_1,Backward Pass_Zone_2,Backward Pass_Zone_3,Forward Pass_Zone_1,Forward Pass_Zone_2,Forward Pass_Zone_3,Side Pass_Zone_1,Side Pass_Zone_2,Side Pass_Zone_3,Backward Pass,Forward Pass,Side Pass
uniqueTeamId,,,,,,,,,,,,
10531---2499726,2,8,3,7,13,1,13,13,5,13,21,31
10531---2499736,2,4,1,4,8,3,9,8,9,7,15,26
10531---2499741,2,18,3,12,19,2,25,48,4,23,33,77
10531---2499757,1,13,4,24,14,5,24,25,12,18,43,61
10531---2499766,0,8,2,9,9,0,9,19,4,10,18,32
...,...,...,...,...,...,...,...,...,...,...,...,...
756---2565880,3,8,2,11,9,2,17,22,8,13,22,47
756---2565892,2,5,1,9,10,1,8,8,1,8,20,17
756---2565904,3,2,2,13,7,0,14,7,1,7,20,22
756---2565908,1,8,5,8,24,1,13,28,5,14,33,46
756---2565923,5,11,0,12,10,0,16,8,7,16,22,31

## Pass Types

In [39]:
high_pass_types = ['High pass', 'Cross', 'Launch']

all_pass_types = passes_df['subEventName'].unique()
low_pass_types = [pt for pt in all_pass_types if pt not in high_pass_types and pt != 'Smart pass']

# --- overall ---
pass_counts = passes_df.groupby(['uniqueTeamId', 'subEventName']).size().unstack(fill_value=0)
pass_counts['Total_Passes'] = pass_counts.sum(axis=1)

# reindex to avoid missing columns (robust)
pass_counts['High_pass_Total'] = pass_counts.reindex(columns=high_pass_types, fill_value=0).sum(axis=1)
pass_counts['Low_pass_Total']  = pass_counts.reindex(columns=low_pass_types,  fill_value=0).sum(axis=1)

pass_counts['High_pass_Ratio_Total'] = pass_counts['High_pass_Total'] / pass_counts['Total_Passes']
pass_counts['Low_pass_Ratio_Total']  = pass_counts['Low_pass_Total'] / pass_counts['Total_Passes']

final_pass_types_df = pass_counts[['Total_Passes', 'High_pass_Ratio_Total', 'Low_pass_Ratio_Total']].copy()

# --- zone-specific ---
zones = passes_df['Zone'].unique()
for zone in zones:
    zone_df = passes_df[passes_df['Zone'] == zone]

    zone_pass_counts = zone_df.groupby(['uniqueTeamId', 'subEventName']).size().unstack(fill_value=0)
    zone_pass_counts['Total_Passes'] = zone_pass_counts.sum(axis=1)

    zone_high_total = zone_pass_counts.reindex(columns=high_pass_types, fill_value=0).sum(axis=1)
    zone_low_total  = zone_pass_counts.reindex(columns=low_pass_types,  fill_value=0).sum(axis=1)

    # avoid divide-by-zero: teams with 0 passes in that zone -> NaN
    denom = zone_pass_counts['Total_Passes'].replace(0, pd.NA)

    final_pass_types_df[f'High_pass_Ratio_Zone{zone}'] = zone_high_total / denom
    final_pass_types_df[f'Low_pass_Ratio_Zone{zone}']  = zone_low_total / denom

In [41]:
final_pass_types_df

subEventName,Total_Passes,High_pass_Ratio_Total,Low_pass_Ratio_Total,High_pass_Ratio_Zone2,Low_pass_Ratio_Zone2,High_pass_Ratio_Zone1,Low_pass_Ratio_Zone1,High_pass_Ratio_Zone3,Low_pass_Ratio_Zone3
uniqueTeamId,,,,,,,,,
10531---2499726,65,0.184615,0.815385,0.088235,0.911765,0.227273,0.772727,0.444444,0.555556
10531---2499736,48,0.145833,0.854167,0.050000,0.950000,0.266667,0.733333,0.153846,0.846154
10531---2499741,133,0.090226,0.902256,0.094118,0.894118,0.076923,0.923077,0.111111,0.888889
10531---2499757,122,0.073770,0.901639,0.076923,0.884615,0.061224,0.938776,0.095238,0.857143
10531---2499766,60,0.183333,0.800000,0.083333,0.888889,0.388889,0.611111,0.166667,0.833333
...,...,...,...,...,...,...,...,...,...
756---2565880,82,0.243902,0.756098,0.153846,0.846154,0.193548,0.806452,0.666667,0.333333
756---2565892,45,0.222222,0.777778,0.130435,0.869565,0.263158,0.736842,0.666667,0.333333
756---2565904,49,0.326531,0.673469,0.312500,0.687500,0.333333,0.666667,0.333333,0.666667
756---2565908,93,0.139785,0.827957,0.100000,0.866667,0.136364,0.863636,0.363636,0.545455
756---2565923,69,0.130435,0.855072,0.000000,0.965517,0.212121,0.787879,0.285714,0.714286

# Pass_Connectivity

In [42]:
from collections import defaultdict
import networkx as nx

In [43]:
def calculate_pass_connectivity(group):
    # Initialize two empty graphs for the two teams in the match
    team_graphs = {team_id: nx.Graph() for team_id in group['uniqueTeamId'].unique()}
    
    # Track the previous player and team to identify consecutive passes
    prev_player = None
    prev_team = None
    
    for i, pass_ in group.iterrows():
        current_player = pass_['playerId']
        current_team = pass_['uniqueTeamId']
        
        # Check for consecutive passes within the same team
        if prev_team == current_team and prev_player is not None:
            team_graphs[current_team].add_edge(prev_player, current_player)
        
        # Update the previous player and team for the next iteration
        prev_player = current_player
        prev_team = current_team
    
    # Calculate connectivity for each team graph
    connectivities = {}
    for team_id, graph in team_graphs.items():
        if len(graph) == 0:  # Handle cases where a team made no passes or only incomplete passes
            connectivity = 0
        else:
            connectivity = nx.average_node_connectivity(graph)
        connectivities[team_id] = connectivity
    
    return connectivities

In [44]:
test_dfdf = passes_df.iloc[:1000]

In [45]:
connectivity_results = [calculate_pass_connectivity(group) for _, group in passes_df.groupby(['matchId'])]

In [46]:
connectivity_results

[{'1609---2499719': 3.7818181818181817, '1631---2499719': 2.2},
 {'1625---2499720': 5.5636363636363635, '1651---2499720': 2.4909090909090907},
 {'1646---2499721': 1.7857142857142858, '1610---2499721': 4.672727272727273},
 {'1628---2499722': 2.981818181818182, '1673---2499722': 2.6},
 {'1623---2499723': 2.5272727272727273, '1639---2499723': 2.6666666666666665},
 {'1611---2499724': 4.418181818181818, '1633---2499724': 2.911111111111111},
 {'1613---2499725': 2.7818181818181817, '1624---2499725': 4.090909090909091},
 {'10531---2499726': 5.488888888888889, '1619---2499726': 3.2222222222222223},
 {'1644---2499727': 2.7454545454545456, '1612---2499727': 3.290909090909091},
 {'1627---2499728': 3.036363636363636, '1659---2499728': 3.688888888888889},
 {'1644---2499729': 2.2545454545454544, '1659---2499729': 4.163636363636364},
 {'1627---2499730': 1.4363636363636363, '1646---2499730': 5.155555555555556},
 {'1673---2499731': 3.963636363636364, '1613---2499731': 2.290909090909091},
 {'1631---2499732': 3.8, '1651---2499732': 4.218181818181818},
 {'1628---2499733': 2.6545454545454548, '1612---2499733': 5.781818181818182},
 {'1625---2499734': 3.709090909090909, '1623---2499734': 1.9272727272727272},
 {'1609---2499735': 5.345454545454546, '1639---2499735': 3.3333333333333335},
 {'10531---2499736': 3.290909090909091, '1611---2499736': 5.709090909090909},
 {'1610---2499737': 3.8, '1624---2499737': 6.8545454545454545},
 {'1619---2499738': 2.2444444444444445, '1633---2499738': 3.6363636363636362},
 {'1659---2499739': 2.2363636363636363, '1625---2499739': 3.109090909090909},
 {'1623---2499740': 3.418181818181818, '1610---2499740': 4.511111111111111},
 {'10531---2499741': 4.963636363636364, '1628---2499741': 2.890909090909091},
 {'1673---2499742': 3.981818181818182, '1619---2499742': 3.1333333333333333},
 {'1609---2499743': 3.418181818181818, '1612---2499743': 4.763636363636364},
 {'1611---2499744': 5.1454545454545455, '1631---2499744': 3.618181818181818},
 {'1613---2499745': 2.6545454545454548, '1633---2499745': 4.0},
 {'1624---2499746': 4.745454545454545, '1646---2499746': 2.8055555555555554},
 {'1644---2499747': 4.763636363636364, '1651---2499747': 4.454545454545454},
 {'1639---2499748': 4.4363636363636365, '1627---2499748': 1.9272727272727272},
 {'1659---2499749': 3.090909090909091, '1609---2499749': 4.709090909090909},
 {'1627---2499750': 3.4545454545454546, '1651---2499750': 3.6},
 {'1646---2499751': 2.581818181818182, '1628---2499751': 4.036363636363636},
 {'1624---2499752': 3.0727272727272728, '1623---2499752': 4.872727272727273},
 {'1610---2499753': 4.745454545454545, '1631---2499753': 2.7777777777777777},
 {'1612---2499754': 3.6363636363636362, '1625---2499754': 3.3454545454545452},
 {'1644---2499755': 5.090909090909091, '1619---2499755': 2.0727272727272728},
 {'1639---2499756': 2.4, '1611---2499756': 3.8181818181818183},
 {'10531---2499757': 4.654545454545454, '1613---2499757': 3.1818181818181817},
 {'1673---2499758': 2.618181818181818, '1633---2499758': 3.672727272727273},
 {'1659---2499759': 3.981818181818182, '1651---2499759': 3.909090909090909},
 {'1610---2499760': 5.290909090909091, '1609---2499760': 4.218181818181818},
 {'1628---2499761': 2.3636363636363638, '1619---2499761': 4.109090909090909},
 {'1631---2499762': 2.6, '1673---2499762': 3.909090909090909},
 {'1612---2499763': 4.7272727272727275, '1646---2499763': 1.1333333333333333},
 {'1611---2499764': 5.955555555555556, '1623---2499764': 3.5454545454545454},
 {'1613---2499765': 1.9636363636363636, '1639---2499765': 4.927272727272728},
 {'10531---2499766': 3.4, '1624---2499766': 4.327272727272727},
 {'1625---2499767': 5.1454545454545455, '1644---2499767': 2.1636363636363636},
 {'1627---2499768': 3.327272727272727, '1633---2499768': 4.036363636363636},
 {'1609---2499769': 5.618181818181818, '1627---2499769': 1.1428571428571428},
 {'1613---2499770': 2.6, '1651---2499770': 3.709090909090909},
 {'1673---2499771': 2.7636363636363637, '1646---2499771': 3.8181818181818183},
 {'1659---2499772': 2.909090909090909, '1623---2499772': 5.454545454545454},
 {'1612---2499773': 5.581818181818182, '1631---2499773': 2.0833333333333335},
 {'1628---2499774': 4.709090909090909, '1625---2499774': 4.490909090909091},
 {'1619---2499775': 5.0181818181818185, '1611---2499775': 3.963636363636364},
 {'1639---2499776': 5.0, '1610---2499776': 3.4545454545454546},
 {'10531---2499777': 4.2727272727272725, '1644---2499777': 4.4},
 {'1624---2499778': 3.5636363636363635, '1633---2499778': 2.7818181818181817},
 {'1659---2499779': 5.327272727272727, '1631---2499779': 2.088888888888889},
 {'1609---2499780': 5.6, '1651---2499780': 2.6666666666666665},
 {'1625---2499781': 5.945454545454545, '1610---2499781': 3.581818181818182},
 {'1623---2499782': 4.945454545454545, '1646---2499782': 3.327272727272727},
 {'1624---2499783': 3.5636363636363635, '1673---2499783': 2.3636363636363638},
 {'1628---2499784': 2.3055555555555554, '1611---2499784': 6.054545454545455},
 {'1613---2499785': 4.072727272727272, '1612---2499785': 4.254545454545455},
 {'1639---2499786': 3.2, '1619---2499786': 3.309090909090909},
 {'1627---2499787': 3.111111111111111, '1644---2499787': 4.509090909090909},
 {'1633---2499788': 3.309090909090909, '10531---2499788': 3.5636363636363635},
 {'1623---2499789': 6.2, '1651---2499789': 3.727272727272727},
 {'1633---2499790': 4.581818181818182, '1646---2499790': 4.527272727272727},
 {'1610---2499791': 3.8, '1628---2499791': 3.5090909090909093},
 {'1631---2499792': 3.4545454545454546, '1627---2499792': 3.2363636363636363},
 {'1612---2499793': 4.672727272727273, '1611---2499793': 3.0277777777777777},
 {'1625---2499794': 6.3090909090909095, '1639---2499794': 1.0666666666666667},
 {'1619---2499795': 3.3454545454545452, '1613---2499795': 3.1818181818181817},
 {'1673---2499796': 2.9555555555555557, '10531---2499796': 3.511111111111111},
 {'1659---2499797': 2.7555555555555555, '1624---2499797': 5.6},
 {'1644---2499798': 3.6, '1609---2499798': 4.127272727272727},
 {'1610---2499799': 4.218181818181818, '1644---2499799': 3.4727272727272727},
 {'1609---2499800': 5.6, '1623---2499800': 2.690909090909091},
 {'1673---2499801': 3.0545454545454547, '1611---2499801': 5.236363636363636},
 {'1625---2499802': 5.127272727272727, '1646---2499802': 2.111111111111111},
 {'1613---2499803': 3.3636363636363638, '1628---2499803': 4.072727272727272},
 {'1627---2499804': 2.7818181818181817, '1619---2499804': 2.8545454545454545},
 {'1659---2499805': 2.4444444444444446, '1639---2499805': 4.345454545454546},
 {'1631---2499806': 4.109090909090909, '10531---2499806': 4.0181818181818185},
 {'1612---2499807': 3.890909090909091, '1624---2499807': 0.9111111111111111},
 {'1633---2499808': 3.581818181818182, '1651---2499808': 3.2545454545454544},
 {'1610---2499809': 5.090909090909091, '1659---2499809': 3.8363636363636364},
 {'10531---2499810': 3.5090909090909093, '1609---2499810': 6.036363636363636},
 {'1651---2499811': 4.072727272727272, '1619---2499811': 3.8},
 {'1646---2499812': 4.527272727272727, '1613---2499812': 3.036363636363636},
 {'1633---2499813': 3.0, '1628---2499813': 3.0606060606060606},
 {'1623---2499814': 3.036363636363636, '1631---2499814': 3.1454545454545455},
 {'1673---2499815': 2.8666666666666667, '1612---2499815': 5.0181818181818185},
 {'1624---2499816': 4.072727272727272, '1611---2499816': 5.127272727272727},
 {'1644---2499817': 5.4, '1639---2499817': 2.0555555555555554},
 {'1625---2499818': 5.490909090909091, '1627---2499818': 1.4},
 {'1611---2499819': 4.181818181818182, '1610---2499819': 3.709090909090909},
 {'1644---2499820': 4.254545454545455, '1623---2499820': 3.066666666666667},
 {'1627---2499821': 2.888888888888889, '1673---2499821': 5.327272727272727},
 {'1625---2499822': 4.909090909090909, '1609---2499822': 4.527272727272727},
 {'1659---2499823': 3.1272727272727274, '1613---2499823': 4.181818181818182},
 {'1646---2499824': 3.4909090909090907, '1619---2499824': 4.381818181818182},
 {'1639---2499825': 4.072727272727272, '1631---2499825': 3.090909090909091},
 {'1651---2499826': 3.5090909090909093, '10531---2499826': 4.888888888888889},
 {'1628---2499827': 2.3555555555555556, '1624---2499827': 4.488888888888889},
 {'1612---2499828': 3.709090909090909, '1633---2499828': 3.690909090909091},
 {'1659---2499829': 1.7636363636363637, '1673---2499829': 5.418181818181818},
 {'1624---2499830': 4.836363636363636, '1609---2499830': 3.4},
 {'1639---2499831': 3.709090909090909, '1651---2499831': 2.963636363636364},
 {'1646---2499832': 3.0727272727272728, '10531---2499832': 3.618181818181818},
 {'1623---2499833': 1.0545454545454545, '1628---2499833': 4.345454545454546},
 {'1625---2499834': 5.109090909090909, '1631---2499834': 1.6222222222222222},
 {'1619---2499835': 3.672727272727273, '1612---2499835': 4.2},
 {'1613---2499836': 2.8666666666666667, '1611---2499836': 2.9272727272727272},
 {'1633---2499837': 3.963636363636364, '1644---2499837': 3.4727272727272727},
 {'1610---2499838': 5.9818181818181815, '1627---2499838': 3.3636363636363638},
 {'1609---2499839': 4.2, '1646---2499839': 2.9272727272727272},
 {'1628---2499840': 3.7818181818181817, '1639---2499840': 3.581818181818182},
 {'1673---2499841': 1.511111111111111, '1625---2499841': 4.945454545454545},
 {'1612---2499842': 4.672727272727273, '1610---2499842': 3.381818181818182},
 {'1611---2499843': 5.0, '1651---2499843': 3.5272727272727273},
 {'1644---2499844': 3.7454545454545456, '1613---2499844': 3.0},
 {'1619---2499845': 4.236363636363636, '1623---2499845': 2.4545454545454546},
 {'1659---2499846': 4.963636363636364, '10531---2499846': 4.163636363636364},
 {'1624---2499847': 5.072727272727272, '1627---2499847': 2.7777777777777777},
 {'1631---2499848': 4.109090909090909, '1633---2499848': 2.5454545454545454},
 {'1659---2499849': 4.0, '1646---2499849': 4.2},
 {'1673---2499850': 4.927272727272728, '1609---2499850': 5.890909090909091},
 {'1628---2499851': 3.2, '1651---2499851': 3.890909090909091},
 {'1631---2499852': 4.5636363636363635, '1624---2499852': 4.363636363636363},
 {'1611---2499853': 3.311111111111111, '1644---2499853': 4.1454545454545455},
 {'1627---2499854': 3.4727272727272727, '1613---2499854': 4.2727272727272725},
 {'1610---2499855': 3.709090909090909, '10531---2499855': 4.509090909090909},
 {'1623---2499856': 3.4363636363636365, '1633---2499856': 3.7818181818181817},
 {'1619---2499857': 3.272727272727273, '1625---2499857': 4.672727272727273},
 {'1639---2499858': 3.672727272727273, '1612---2499858': 4.581818181818182},
 {'1659---2499859': 4.527272727272727, '1619---2499859': 4.236363636363636},
 {'1609---2499860': 4.672727272727273, '1611---2499860': 1.9090909090909092},
 {'1612---2499861': 3.909090909090909, '1651---2499861': 4.055555555555555},
 {'1613---2499862': 3.381818181818182, '1610---2499862': 5.636363636363637},
 {'1673---2499863': 4.509090909090909, '1623---2499863': 2.022222222222222},
 {'1646---2499864': 5.6909090909090905, '1631---2499864': 3.7454545454545456},
 {'1625---2499865': 5.381818181818182, '1633---2499865': 1.6666666666666667},
 {'1639---2499866': 4.509090909090909, '10531---2499866': 3.688888888888889},
 {'1644---2499867': 3.418181818181818, '1624---2499867': 4.418181818181818},
 {'1628---2499868': 2.7636363636363637, '1627---2499868': 4.418181818181818},
 {'1646---2499869': 2.1454545454545455, '1644---2499869': 5.4},
 {'1659---2499870': 3.8545454545454545, '1628---2499870': 3.0545454545454547},
 {'1651---2499871': 3.4727272727272727, '1673---2499871': 3.690909090909091},
 {'1623---2499872': 1.5333333333333334, '1612---2499872': 3.4727272727272727},
 {'1611---2499873': 1.7222222222222223, '1625---2499873': 5.2},
 {'1613---2499874': 1.9454545454545455, '1631---2499874': 4.454545454545454},
 {'1609---2499875': 5.2727272727272725, '1619---2499875': 4.090909090909091},
 {'1627---2499876': 4.963636363636364, '10531---2499876': 2.3454545454545452},
 {'1639---2499877': 2.3777777777777778, '1624---2499877': 4.8},
 {'1610---2499878': 4.6909090909090905, '1633---2499878': 3.3636363636363638},
 {'1639---2499879': 2.8666666666666667, '1646---2499879': 2.9272727272727272},
 {'1610---2499880': 4.909090909090909, '1673---2499880': 2.7454545454545456},
 {'1625---2499881': 3.7636363636363637, '10531---2499881': 2.3333333333333335},
 {'1609---2499882': 5.1454545454545455, '1633---2499882': 4.290909090909091},
 {'1628---2499883': 3.5272727272727273, '1644---2499883': 3.6222222222222222},
 {'1659---2499884': 4.454545454545454, '1611---2499884': 5.290909090909091},
 {'1613---2499885': 4.333333333333333, '1623---2499885': 4.254545454545455},
 {'1631---2499886': 3.672727272727273, '1619---2499886': 4.090909090909091},
 {'1627---2499887': 3.8545454545454545, '1612---2499887': 4.8545454545454545},
 {'1624---2499888': 4.1454545454545455, '1651---2499888': 2.066666666666667},
 {'1659---2499889': 4.072727272727272, '1612---2499889': 5.254545454545455},
 {'1613---2499890': 2.1555555555555554, '1609---2499890': 5.236363636363636},
 {'1651---2499891': 6.0181818181818185, '1646---2499891': 2.8181818181818183},
 {'1610---2499892': 4.7272727272727275, '1619---2499892': 3.3636363636363638},
 {'10531---2499893': 3.212121212121212, '1623---2499893': 4.8545454545454545},
 {'1628---2499894': 4.4222222222222225, '1631---2499894': 3.6},
 {'1625---2499895': 5.163636363636364, '1624---2499895': 2.6},
 {'1639---2499896': 2.8181818181818183, '1633---2499896': 4.672727272727273},
 {'1644---2499897': 1.7818181818181817, '1673---2499897': 2.5272727272727273},
 {'1627---2499898': 2.2181818181818183, '1611---2499898': 6.5636363636363635},
 {'1612---2499899': 5.121212121212121, '1609---2499899': 3.8727272727272726},
 {'1651---2499900': 4.066666666666666, '1644---2499900': 4.163636363636364},
 {'1624---2499901': 5.327272727272727, '1646---2499901': 2.977777777777778},
 {'1623---2499902': 2.1272727272727274, '1610---2499902': 6.345454545454546},
 {'1611---2499903': 3.909090909090909, '1631---2499903': 2.488888888888889},
 {'1659---2499904': 0.9333333333333333, '1625---2499904': 5.672727272727273},
 {'1619---2499905': 4.177777777777778, '1673---2499905': 1.4},
 {'1639---2499906': 3.8363636363636364, '1627---2499906': 2.911111111111111},
 {'10531---2499907': 5.454545454545454, '1628---2499907': 2.890909090909091},
 {'1613---2499908': 2.4, '1633---2499908': 4.036363636363636},
 {'1633---2499909': 1.7818181818181817, '1659---2499909': 4.254545454545455},
 {'1651---2499910': 4.509090909090909, '1610---2499910': 3.8181818181818183},
 {'1628---2499911': 2.5272727272727273, '1609---2499911': 4.6},
 {'1639---2499912': 4.036363636363636, '1673---2499912': 4.6},
 {'10531---2499913': 3.4545454545454546, '1612---2499913': 3.7818181818181817},
 {'1646---2499914': 3.1454545454545455, '1611---2499914': 5.355555555555555},
 {'1625---2499915': 4.696969696969697, '1613---2499915': 1.0},
 {'1619---2499916': 3.6666666666666665, '1624---2499916': 5.236363636363636},
 {'1644---2499917': 3.3454545454545452, '1631---2499917': 3.2},
 {'1627---2499918': 4.672727272727273, '1623---2499918': 2.672727272727273},
 {'1659---2499919': 5.022222222222222, '1623---2499919': 4.4363636363636365},
 {'1610---2499920': 4.763636363636364, '1639---2499920': 2.6},
 {'1625---2499921': 5.5636363636363635, '1628---2499921': 2.2545454545454544},
 {'1673---2499922': 3.4909090909090907, '1646---2499922': 2.981818181818182},
 {'1631---2499923': 3.672727272727273, '1612---2499923': 4.890909090909091},
 {'1619---2499924': 1.8545454545454545, '1611---2499924': 2.533333333333333},
 {'1651---2499925': 4.636363636363637, '1613---2499925': 5.8545454545454545},
 {'1624---2499926': 6.163636363636364, '1633---2499926': 1.5333333333333334},
 {'1644---2499927': 5.618181818181818, '10531---2499927': 3.0545454545454547},
 {'1627---2499928': 2.909090909090909, '1609---2499928': 5.363636363636363},
 {'1609---2499929': 4.0, '1610---2499929': 4.490909090909091},
 {'1659---2499930': 3.2181818181818183, '1651---2499930': 4.290909090909091},
 {'1646---2499931': 1.690909090909091, '1612---2499931': 5.036363636363636},
 {'1611---2499932': 4.327272727272727, '1623---2499932': 3.8727272727272726},
 {'1673---2499933': 4.654545454545454, '1631---2499933': 5.345454545454546},
 {'1625---2499934': 5.109090909090909, '1644---2499934': 1.7272727272727273},
 {'1619---2499935': 4.844444444444444, '1628---2499935': 2.3777777777777778},
 {'1613---2499936': 2.8363636363636364, '1639---2499936': 4.236363636363636},
 {'10531---2499937': 3.466666666666667, '1624---2499937': 4.345454545454546},
 {'1633---2499938': 4.127272727272727, '1627---2499938': 3.6},
 {'1609---2499939': 4.909090909090909, '1659---2499939': 3.890909090909091},
 {'1610---2499940': 2.5090909090909093, '1631---2499940': 3.8181818181818183},
 {'1628---2499941': 2.7777777777777777, '1646---2499941': 3.5454545454545454},
 {'1673---2499942': 5.2727272727272725, '1633---2499942': 2.727272727272727},
 {'1612---2499943': 5.109090909090909, '1625---2499943': 5.254545454545455},
 {'1639---2499944': 3.3636363636363638, '1611---2499944': 5.745454545454545},
 {'10531---2499945': 5.072727272727272, '1613---2499945': 4.054545454545455},
 {'1623---2499946': 2.7454545454545456, '1624---2499946': 4.3090909090909095},
 {'1619---2499947': 3.8, '1644---2499947': 3.963636363636364},
 {'1627---2499948': 3.4, '1651---2499948': 4.254545454545455},
 {'1628---2499949': 3.2, '1609---2499949': 5.490909090909091},
 {'1610---2499950': 4.745454545454545, '1651---2499950': 5.3090909090909095},
 {'1611---2499951': 4.672727272727273, '1646---2499951': 3.672727272727273},
 {'1623---2499952': 4.581818181818182, '1627---2499952': 4.0},
 {'1644---2499953': 3.3636363636363638, '1631---2499953': 4.927272727272728},
 {'1613---2499954': 1.5, '1625---2499954': 5.0181818181818185},
 {'1619---2499955': 4.533333333333333, '1624---2499955': 4.2},
 {'1639---2499956': 2.311111111111111, '1673---2499956': 2.6},
 {'10531---2499957': 4.254545454545455, '1612---2499957': 4.781818181818182},
 {'1659---2499958': 2.109090909090909, '1633---2499958': 4.636363636363637},
 {'1612---2499959': 5.054545454545455, '1673---2499959': 4.090909090909091},
 {'1609---2499960': 4.836363636363636, '10531---2499960': 5.254545454545455},
 {'1628---2499961': 3.7818181818181817, '1633---2499961': 2.327272727272727},
 {'1610---2499962': 4.345454545454546, '1659---2499962': 3.8727272727272726},
 {'1623---2499963': 2.1333333333333333, '1631---2499963': 4.8},
 {'1613---2499964': 5.545454545454546, '1646---2499964': 1.75},
 {'1619---2499965': 4.1454545454545455, '1651---2499965': 2.5636363636363635},
 {'1627---2499966': 2.533333333333333, '1625---2499966': 5.109090909090909},
 {'1639---2499967': 2.1272727272727274, '1644---2499967': 4.672727272727273},
 {'1624---2499968': 2.4545454545454546, '1611---2499968': 5.418181818181818},
 {'1639---2499969': 4.0181818181818185, '1659---2499969': 2.890909090909091},
 {'1623---2499970': 2.6, '1609---2499970': 4.090909090909091},
 {'1651---2499971': 3.981818181818182, '1633---2499971': 2.6545454545454548},
 {'1625---2499972': 5.581818181818182, '1646---2499972': 1.3611111111111112},
 {'1613---2499973': 4.527272727272727, '1628---2499973': 2.909090909090909},
 {'1631---2499974': 4.218181818181818, '10531---2499974': 2.618181818181818},
 {'1612---2499975': 3.6363636363636362, '1624---2499975': 5.0},
 {'1673---2499976': 2.6222222222222222, '1611---2499976': 5.654545454545454},
 {'1644---2499977': 5.3090909090909095, '1610---2499977': 4.127272727272727},
 {'1627---2499978': 3.0, '1619---2499978': 5.036363636363636},
 {'1610---2499979': 3.963636363636364, '1627---2499979': 4.303030303030303},
 {'1623---2499980': 4.777777777777778, '1628---2499980': 1.1388888888888888},
 {'1659---2499981': 3.690909090909091, '1673---2499981': 4.2},
 {'1625---2499982': 4.581818181818182, '1631---2499982': 2.4},
 {'1613---2499983': 3.4909090909090907, '1611---2499983': 4.0181818181818185},
 {'1619---2499984': 4.709090909090909, '1612---2499984': 2.981818181818182},
 {'1639---2499985': 3.7818181818181817, '1651---2499985': 2.2444444444444445},

In [47]:
connectivity_df = [(k, v) for d in connectivity_results for k, v in d.items()]
connectivity_df = pd.DataFrame(connectivity_df, columns=['uniqueTeamId', 'Connectivity'])

In [48]:
connectivity_df.set_index('uniqueTeamId', inplace=True)
connectivity_df

                Connectivity
uniqueTeamId
1609---2499719      3.781818
1631---2499719      2.200000
1625---2499720      5.563636
1651---2499720      2.490909
1646---2499721      1.785714
...                      ...
3158---2576336      4.327273
3164---2576337      3.727273
3204---2576337      1.800000
3193---2576338      5.177778
3185---2576338      3.818182

[3652 rows x 1 columns]

In [49]:
final_df = pd.concat([motif_ratios, final_pass_types_df, pass_direction_df, shot_df_final, connectivity_df], axis=1)
# Iterate through each column in final_df to find and adjust the specified columns
for col in final_df.columns:
    # Check if the column name contains 'Backward', 'Forward', or 'Side'
    if any(keyword in col for keyword in ['Backward', 'Forward', 'Side']):
        # Divide the column by the 'Total_Passes' column
        final_df[col] = final_df[col] / final_df['Total_Passes']
        # Rename the column to add " Ratio" at the end
        final_df.rename(columns={col: col + " Ratio"}, inplace=True)

In [50]:
final_df

,ABAB,ABCA,ABCB,ABCD,Total_Passes,High_pass_Ratio_Total,Low_pass_Ratio_Total,High_pass_Ratio_Zone2,Low_pass_Ratio_Zone2,High_pass_Ratio_Zone1,...,Side Pass_Zone_2 Ratio,Side Pass_Zone_3 Ratio,Backward Pass Ratio,Forward Pass Ratio,Side Pass Ratio,Total Shots,Far Shots Ratio,Middle Distance Shots Ratio,Near Shots Ratio,Connectivity
uniqueTeamId,,,,,,,,,,,,,,,,,,,,,
10531---2499726,0.000000,0.112903,0.129032,0.758065,65,0.184615,0.815385,0.088235,0.911765,0.227273,...,0.200000,0.076923,0.200000,0.323077,0.476923,1.0,0.00,1.00,0.0,5.488889
10531---2499736,0.000000,0.111111,0.111111,0.777778,48,0.145833,0.854167,0.050000,0.950000,0.266667,...,0.166667,0.187500,0.145833,0.312500,0.541667,2.0,0.50,0.50,0.0,3.290909
10531---2499741,0.030769,0.107692,0.115385,0.746154,133,0.090226,0.902256,0.094118,0.894118,0.076923,...,0.360902,0.030075,0.172932,0.248120,0.578947,2.0,0.00,0.00,1.0,4.963636
10531---2499757,0.033613,0.126050,0.126050,0.714286,122,0.073770,0.901639,0.076923,0.884615,0.061224,...,0.204918,0.098361,0.147541,0.352459,0.500000,NaN,NaN,NaN,NaN,4.654545
10531---2499766,0.000000,0.087719,0.087719,0.824561,60,0.183333,0.800000,0.083333,0.888889,0.388889,...,0.316667,0.066667,0.166667,0.300000,0.533333,1.0,0.00,0.00,1.0,3.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
756---2565880,0.075949,0.139241,0.139241,0.645570,82,0.243902,0.756098,0.153846,0.846154,0.193548,...,0.268293,0.097561,0.158537,0.268293,0.573171,1.0,0.00,0.00,1.0,3.618182
756---2565892,0.047619,0.119048,0.095238,0.738095,45,0.222222,0.777778,0.130435,0.869565,0.263158,...,0.177778,0.022222,0.177778,0.444444,0.377778,2.0,0.00,0.50,0.5,4.305556
756---2565904,0.000000,0.108696,0.086957,0.804348,49,0.326531,0.673469,0.312500,0.687500,0.333333,...,0.142857,0.020408,0.142857,0.408163,0.448980,NaN,NaN,NaN,NaN,3.254545
756---2565908,0.022222,0.166667,0.177778,0.633333,93,0.139785,0.827957,0.100000,0.866667,0.136364,...,0.301075,0.053763,0.150538,0.354839,0.494624,NaN,NaN,NaN,NaN,3.945455
756---2565923,0.030303,0.075758,0.075758,0.818182,69,0.130435,0.855072,0.000000,0.965517,0.212121,...,0.115942,0.101449,0.231884,0.318841,0.449275,4.0,0.25,0.75,0.0,4.254545

In [51]:
table_name = "final_in_poss_df"

if half is not None:
    final_df.to_csv(f'{table_name}_{half}_{min_min}_{max_min}.csv', index=True)
else:
    final_df.to_csv(f'{table_name}.csv', index=True)

In [54]:
f"{table_name}_{half}_{min_min}_{max_min}"

'final_in_poss_df_1H_0_15'

# END OF FILE